{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Editar Associação: {{ association.name }}</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {{ form.address(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.phone.label(class="form-control-label") }}
                {{ form.phone(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.social_media.label(class="form-control-label") }}
                {{ form.social_media(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}

