{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Editar Atividade: {{ activity.name }}</legend>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.date.label(class="form-control-label") }}
                {{ form.date(class="form-control form-control-lg", type="date") }}
                <small class="form-text text-muted">Selecione a data da atividade no formato AAAA-MM-DD</small>
            </div>
            <div class="form-group">
                {{ form.location.label(class="form-control-label") }}
                {{ form.location(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}

